/* Start Global Values*/
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* end Global Values */
/* Start Variables */
:root{
    --main-background-color: linear-gradient(171.18deg, #0F223C 10.6%, #101925 88.52%);
    --background-image: url(/Images/pattern.png);
    --primary-color: #101925;
    --primary-2-color: #0f223c;
    --main-font-color: #58B3C8;
    --secondary-text-color: #E6E6E7;
    --radia-gradient: radial-gradient(310.49% 310.49% at 308.16% 126.24%, #58B3C8 0%, #101925 100%);

}
/* End Variables */
/* Start Component */
    .background-color{
        background: var(--main-background-color);
        background-position: center;
    }
    .background-image{
        /* background-image: var(--background-image); */
        /* background-position: center;
        background-size: cover; */
        opacity: 0.1;
        position: absolute;
        z-index: 1; 
    }
/* End Component */
body{
    font-family: "Poppins", sans-serif;;
    background-size: cover;
}
/* Start Header */
.navbar .navbar-toggler{ 
    color: var(--main-font-color);
    font-size: 30px;
}
.navbar .container-fluid .navbar-brand img{
    max-width: 195px ;
}
.navbar-nav .nav-link{
    color: var(--secondary-text-color);
    transition: 0.3s;
    height: 55px;
}

.active_nav_link {
    color: var(--main-font-color) !important;
    border-bottom: 1px solid var(--main-font-color); 
   
}

.navbar-nav .nav-link:hover{
    color: var(--main-font-color);
    /* border-bottom: 1px solid var(--main-font-color); */
}


button.btn.btn-primary{
    background-color: var(--main-font-color);
    border: none;
}
.navbar .Eng{
    color: var(--secondary-text-color);
}
/*End Header*/
/*Start Landing*/
.landing{
    width: 100%;
    min-height: 30vh;
    margin-top: -0.9px;
}
.landing .img{
    width: 100%;
    min-height: 78vh;
}
.landing .container{
    width: 100%;
    min-height: 30vh;
}
.landing .container .text-center{
    flex-basis: 50%;
}
.landing .cube{
    flex-basis: 45%;
    position: relative;
    z-index: 1;
}
.landing .cube img{
    max-width: 100%;
}
/* @media (min-width: 767px) and (max-width: 991px){
    .landing{
        min-height: calc(100vh - 800px);
    }
    .landing .container{
        min-height: calc(100vh - 800px);
    }
    .landing .img{
        min-height: calc(100vh - 800px);
    }
    .landing .cube{
        flex-basis: 45%;
    }
}
    @media (max-width: 450px) {
        .landing .cube{
            flex-basis: 60%;
        } 
        .landing{
            min-height: calc(100vh - 600px);
        }
        .landing .container{
            min-height: calc(100vh - 350px);
        }
        .landing .img{
            min-height: calc(100vh - 370px);
        }
    }
    @media (min-width: 1379px) {
        .landing{
            min-height: calc(100vh - 300px);
        }
        .landing .container{
            min-height: calc(100vh - 300px);
        }
        .landing .img{
            min-height: calc(100vh - 300px);

    }
} */
/*End Landing*/
/* Start Section-2 */
.section-2{
    background-color: var(--primary-color);
}
.section-2 .content .text{
    flex-basis: 25%;
    letter-spacing: 1px;
}
.section-2 .content .text h3{
    color: var(--main-font-color);
    font-weight: 700;
    font-size: 40px;
}
.section-2 .content .text p{
    color: var(--secondary-text-color);
    font-size: 18px;
}
.section-2 .content .text p span{
    font-weight: bold;
}
.section-2 .pargh{
    flex-basis: 50%;
}
/* End Section-2 */
/* Start section-3 */
.section-3{
    width: 100%;
    min-height: 30vh;
    padding-top: 40px;
    padding-bottom: 40px;
}
.section-3 .container-fluid{
    min-height: 30vh;
}
.section-3 .srv{
    width: 100%;
    min-height: 73vh;
}
@media (min-width: 767px) and (max-width: 991px){
    .section-3 .srv{
        min-height: calc(100vh + 200px);
    }
}
.section-3 .container-fluid .img{
    max-width: 100%;
    position: relative;
}
.section-3 .container-fluid .img::before{
    content: "";
    position: absolute;
    height: calc(100% + 200px);
    border: 2px solid var(--main-font-color);
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 68px);
    border-radius: 41px;
}
.section-3 .container-fluid .img img{
    max-width: 326px;
}
.section-3 .container-fluid .text {
    flex-basis: 45%;
}
@media (min-width: 767px) and (max-width: 991px){
    .section-3 .container-fluid .text{
        margin-top: 200px;
    } 
}
.section-3 .container-fluid .text h2{
    color: var(--main-font-color);
    font-weight: 700;
    font-size: 40px;
}
.section-3 .container-fluid .text h4{
    color: var(--secondary-text-color);
    font-weight: 600;
    font-size: 18px;
}
.section-3 .container-fluid .text ul{
    color: var(--secondary-text-color);
    margin-bottom: 5px;
}
.section-3 .container-fluid .text .but{
    width: 100%;
}
.section-3 .container-fluid .text .but button{
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: var(--secondary-text-color);
    background: none;
}
.section-3 .container-fluid .text .but i{
    display: flex;
    color: white !important;
    position: relative;
    z-index: 2;
}

@media (max-width: 767px){
    .section-3 .container-fluid .img::before{
        max-width: 70%;
    }
}
@media (max-width: 991px) {
    .section-3 .container-fluid .img::before{
        max-width: 60%;
    }
    .section-3 .container-fluid .img img{
        max-width: 265px;
    }
}
@media (min-width: 375px) and (max-width: 546px) {
    .section-3{
        padding-top: 80px;
        padding-bottom: 60px;
    }
    .section-3 .container-fluid .img img{
        max-width: 185px;
    }
    .section-3 .container-fluid .img::before{
        max-width: 80%;
        max-height: 220px;
    }
    
}
/* End section-3 */
/* Start Products section */
.products{
    min-height: calc(100vh + 50px);
    background-color: var(--primary-color);
    padding-top: 60px;
    padding-bottom: 60px;
}
.products .container-fluid{
    min-height: calc(100vh + 50px);
}

.products .container-fluid .content{
    min-height: 70%;
}
.products .container-fluid .content > div{
    flex-basis: 18%;
}
@media (max-width: 767px) {
    .products .container-fluid .content > div{
        flex-basis: 100%;
        margin-bottom: 80px;
    }
}
@media (max-width: 991px) {
    .products .container-fluid .content > div{
        flex-basis: 60%;
        margin-bottom: 60px;
    }
    
}
@media (min-width: 1379px) {
    .products{
        min-height: calc(100vh - 800px);
    }
    .products .container-fluid{
        min-height: calc(100vh - 800px);
    }
}
.products .container-fluid .content .product-1{
    background-color: #0E1520;
}
.products .container-fluid .content .product-1 img{
    max-width: 100%;
}
.products .container-fluid .content .product-1 h2{
    font-size: 18px;
    font-weight: bold;
}
.products .container-fluid .content .product-1 p{
    color: white;
}
.products .container-fluid .content .product-1 .but{
    background-color: var(--main-font-color);
}
.products .container-fluid .content .product-1 .but button{
    background: none;
    border: none;
    letter-spacing: 2px;
    color: var(--primary-color);
    font-weight: 700;
}
.products .container-fluid .text h3{
    color: var(--main-font-color);
}
/* End Products section */
/* Start Services Section*/
.pack{
    min-height: calc(100vh - 500px);
}
.pack .serv {
    min-height: calc(100vh - 500px);
    width: 100%;
}
.pack .container-fluid{
    width: 100%;
    min-height: calc(100vh - 500px);
    background: var(--radia-gradient);
}
.pack .container-fluid .ft{
    min-height: calc(100vh - 500px);
}
.pack .container-fluid .ft h2{
    color: var(--main-font-color);
    font-weight: 900;
    font-size: 26px;
}
.pack .container-fluid .ft p{
    color: var(--secondary-text-color);
    font-size: 36px;
}
.pack .container-fluid .text-11{
    color: var(--secondary-text-color);
    flex-basis: 40%;
    padding: 20px;
}
.pack .container-fluid .text-11 h3{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}
.pack .container-fluid .text-11 ul{
    display: inline;
    float: left;
    padding: 10px;
}
.pack .container-fluid .text-11 ul li{
    margin-bottom: 7px;
}
@media (min-width: 1379px) {
    .pack{
        min-height: calc(100vh - 900px);
    }
    .pack .container-fluid{
        min-height: calc(100vh - 900px);
    }
    .pack .container-fluid .ft{
        min-height: calc(100vh - 900px);
    }
    .pack .serv{
        min-height: calc(100vh - 900px);
    }
}
/* End Services Section */
/* Start Visi Section*/
.visi{
    min-height: calc(100vh - 300px);
}
.visi .container-fluid{
    min-height: calc(100vh - 300px);
    background-color: var(--primary-color);
}
.visi .container-fluid .text{
    min-height: calc(100vh - 300px);
    padding: 60px;
}
.visi .container-fluid .text h3{
    color: var(--main-font-color);
    font-size: 40px;
    font-weight: 700;
}
.visi .container-fluid .text p{
    color: var(--secondary-text-color);
    font-size: 18px;
    text-align: center;
    max-width: 50%;
}
@media (max-width: 560px) {
    .visi .container-fluid .text p{
        max-width: 100%;
    }
}
@media (min-width: 1379px) {
    .visi{
        min-height: calc(100vh - 900px);
    }
    .visi .container-fluid{
        min-height: calc(100vh - 900px);
    }
    .visi .container-fluid .text{
        min-height: calc(100vh - 900px);
    }
}
/* End Visi Section*/
/* Start foc Section */
.pack{
    min-height: 50vh;
}
.pack .serv {
    min-height: 67vh;
    width: 100%;
}
@media (min-width: 360px) and (max-width: 991px){
    .pack{
        min-height: 60vh;
    }
    .pack .serv{
        min-height: 97vh;
    }
}
.pack .container-fluid{
    width: 100%;
    min-height: 50vh;
    background: var(--radia-gradient);
    padding-top: 10px;
    padding-bottom: 10px;
}
.pack .container-fluid .fts{
    flex-basis: 40%;
    padding: 60px;
}
.pack .container-fluid .ft h2{
    color: var(--main-font-color);
    font-weight: 900;
}
.pack .container-fluid .fts p{
    color: var(--secondary-text-color);
}
.pack .container-fluid .ouvc-img{
    max-width: 100%;
}
.pack .container-fluid img{
    max-width: 350px;
}
/*  End foc Section */
/* Start some of our clients section */
.clients{
    min-height: 30vh;
    padding: 80px;
}
.clients .container-fluid{
    min-height: 30vh;
}
.clients .container-fluid .text{
    color: var(--secondary-text-color);
}
.clients .container-fluid .collab{
    min-height: 100%;
    width: 100%;
}
.clients .container-fluid .collab img{
    max-width: 10%;
}
.carousel-item img{
    max-width: 15%;
    min-height: 10%;
}
.carousel-item{
    height: 30%;
}
/* @media (min-width: 365px) and (max-width: 992px){
    .clients{
        min-height: calc(100vh - 600px);
        padding: 80px;
    }
    .clients .container-fluid{
        min-height: calc(100vh - 600px);
    }
}
@media (max-width: 350px) {
    .clients{
        min-height: calc(100vh - 700px);
        padding: 80px;
    }
    .clients .container-fluid{
        min-height: calc(100vh - 700px);
    }
}
@media (min-width: 1379px) {
    .clients{
        min-height: calc(100vh - 900px);
        padding: 80px;
    }
    .clients .container-fluid{
        min-height: calc(100vh - 900px);
    } */
/* End some of our clients section */
/* Start touch Section*/
.touch{
    min-height: 55vh;
}
.touch .touch-b{
    min-width: 100%;
    min-height: 55vh;
    background-position: bottom;
}
.touch .container-fluid{
    min-height: 55vh;
}
.touch .container-fluid h3{
    color: var(--secondary-text-color);
    max-width: 50%;
}
/* @media (max-width: 560px) {
    .touch .container-fluid h3{
        max-width: 100%;
    }
} */
.touch .container-fluid .but{
    max-width: 70%;
}
.touch .container-fluid .but button{
    border: none;
    background-color: var(--main-font-color);
}
/* @media (min-width: 350px) and (max-width: 991px) {
    .touch{
        min-height: calc(100vh - 450px);
    }
    .touch .touch-b{
        min-width: 100%;
        min-height: calc(100vh - 450px);
        background-position: bottom;
    }
    .touch .container-fluid{
        min-height: calc(100vh - 450px);
    }
} */
/* @media (min-width: 1390px) {
    .touch{
        min-height: calc(100vh - 450px);
    }
    .touch .touch-b{
        min-height: calc(100vh - 450px);
    }
    .touch .container-fluid{
        min-height: calc(100vh - 450px);
    } */
/* End touch Section*/
/* Start Footer Section */
.footer{
    min-height: calc(100vh - 400px);
    padding-top: 60px;
    padding-bottom: 60px;
}
.foot-back{
    min-height: calc(100vh - 350px);
    width: 100%;
}
@media (min-width: 1199px) {
    .footer{
        min-height: calc(100vh - 500px);
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .foot-back{
        min-height: 40%;
        width: 100%;
    }
}
.footer .foot-back .container-fluid{
    min-height: 100%;
    max-width: 100%;
}
.intro{
    height: 100%;
    width: 100%;
    flex-basis: 30%;
}
.intro ul {
    list-style-type: none;
    min-height: 100%;
    font-weight: 700;
    transition: 0.3s;
}
.intro ul li.active{
    color: var(--main-font-color);
}
.mo-map{
    height: 100%;
    flex-basis: 30%;
}
.contac{
    flex-basis: 30%;
}
.contac p span{
    font-weight: bold;
}
.contac .form label{
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
}
.contac form textarea{
    position: relative;
    z-index: 5;
    border: none;
}
.contac button{
    border: none;
    background-color: var(--main-font-color);
    color: var(--secondary-text-color);
}
/* End Footer Section */



img.prof{
    max-width: 30px;
    max-height: 30px;
} 


li.prof{
    top: 15px;
}



a.bg-focus:hover{
    background-color: var(--main-font-color);
}

.account_form{
    min-height: calc(100vh - 71px);
}

button.btn.btn-primary{
    background-color: var(--main-font-color);
    border: none;
}


.or{
    position: relative;
} 




.products-info{
    min-height: 92vh;
    background: var(--main-background-color);
}
.products-info .container .text h2{
    font-weight: bolder;
    letter-spacing: 2px;
}
.products-info .container .text p{
    letter-spacing: 1px;
}
 .image_product_dait {
     object-fit: contain;  /*Ensures the image is fully visible, without cropping */
    border-radius: 10px;  /* Optional for rounded corners */
    height: 50vh;
    width: 60vw;
  }